@use '../../../variables.scss';

.subject {
  background-color: $grey2;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 6rem;
}
.lecture {
  background-color: $red;
  cursor: pointer;
}
.tutorial {
  background-color: $blue;
}
.lab {
  background-color: $green;
}
.smol {
  font-size: 0.8rem;
}