.dropdown {
  position: relative;
  display: inline-block;
  background-color: #151515;
  padding: 2rem 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.dropdown-content {
  display: none;
  left: calc(-50% + 1rem);
  top: calc(3rem);
  position: absolute;
  background-color: #151515;
  min-width: 10rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 0.5rem 0.5rem;
  z-index: 1;
  button {
    all: unset;
    text-align: center;
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
    margin-top: 0.25vw;
    margin-bottom: 0.25vw;
    &:hover {
      background-color: #333;
      cursor: pointer;
    }
  }
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}