<div class="table">
  <div class="column">
    @for (time of times; track time) {
      <div class="time">
        {{ time }}
      </div>
    }
  </div>
  @for (timeslot of renderData; track timeslot) {
    <div class="column">
      @for (class of timeslot; track class) {
        @if (class) {
          <div [class.double]="class.double_size">
            <app-timetable-cell
              [class_type]="class.class_type"
              [double_size]="class.double_size"
              [instructor]="class.instructor"
              [location]="class.location"
              [subject_code]="class.subject_code"
            />
          </div>
        } @else {
          <div class="cell">
            <div class="blank">
              Free
            </div>
          </div>
        }
      }
    </div>
  }
</div>